#!/usr/bin/env bash

declare _git_worktree_path; {
  _git_worktree_path="$(git rev-parse --show-toplevel 2>/dev/null)"
  _git_worktree_path="${_git_worktree_path%/}"
}
declare _git_project_name; {
  _git_project_name="$(git remote get-url origin 2>/dev/null | cut -f2 -d:)"
  _git_project_name="${_git_project_name%.git}"
  _git_project_name="${_git_project_name//\//_}"
}
declare _project_fingerpint; {
  _project_fingerpint="$(md5sum <<<"${_git_project_name}" | cut -f1 -d' ' | cut -c1-8)"
}
# printf '%s\n' \
#   "${_git_project_name}" \
#   "${_git_worktree_path}" \
#   "${_project_fingerpint}"

# Export Public & Private Variables
export CI_PROJECT_DIR="${_git_worktree_path}"
export CI_PROJECT_NAME="${_git_project_name}"
export CI_INSTANCE_ID="${_project_fingerpint}"
[[ -f "${CI_PROJECT_DIR}/.user.env" ]] && source "${CI_PROJECT_DIR}/.user.env"
export CACHE_DIR="${CI_PROJECT_DIR}/.cache"
export VENV_DIR="${CI_PROJECT_DIR}/.venv"
declare _cache_dir="${HOME}/.cache/${_git_project_name}_${_project_fingerpint}"
declare _venv_dir="${HOME}/.venv.d/${_git_project_name}_${_project_fingerpint}"

# Setup Project Dir

[[ -d "${_cache_dir}" ]] || {
  echo "Setting up Project Cache" >&2
  [[ -d "${HOME}/.cache" ]] || {
    echo "MISSING: ${HOME}/.cache" >&2
    return 1
  }
  install -dm0755 "${_cache_dir}"
}
[[ -h "${CACHE_DIR}" ]] || {
  ln -s "${_cache_dir}" "${CACHE_DIR}"
}

# Install Python
[[ -d "${_venv_dir}" ]] || {
  [[ -d "${HOME}/.venv.d" ]] || {
    echo "MISSING: ${HOME}/.venv.d" >&2
    return 1
  }
  install -dm0755 "${_venv_dir}"
}
[[ -f "${CI_PROJECT_DIR}/.python-version" ]] || {
  echo "MISSING: ${CI_PROJECT_DIR}/.python-version" >&2
  return 1
}
[[ -f "${_venv_dir}/bin/activate" ]] || {
  echo "Setting up Python Virtual Environment" >&2
  pyenv exec python3 -m venv --upgrade-deps --clear --prompt 'Dev' "${_venv_dir}"
}
[[ -h "${VENV_DIR}" ]] || {
  ln -s "${_venv_dir}" "${VENV_DIR}"
}

# Install Go
declare _install_dir="${CACHE_DIR}/usr/local"
[[ -d "${_install_dir}/go" ]] || {
  echo "Setting up Go" >&2
  install -dm0755 "${_install_dir}"
  curl -fsSL https://go.dev/dl/go1.22.4.linux-amd64.tar.gz | tar -C "${_install_dir}" -xz
}
[[ -d "${CACHE_DIR}/go" ]] || {
  install -dm0755 "${CACHE_DIR}/go"
}
export GOROOT="${_install_dir}/go"
export GOPATH="${CACHE_DIR}/go"
export PATH="${GOPATH}/bin:${GOROOT}/bin:${PATH}"

# Test Go
command -v go &>/dev/null || {
  echo "MISSING: go" >&2
  return 1
}

# Install Go Tools
# declare -a _go_tools=(

# )
# for tool in "${_go_tools[@]}"; do
#   go install "${tool}"
# done