#!/usr/bin/env bash

# Export Public & Private Variables
export CI_PROJECT_DIR="${PWD}"
export CI_PROJECT_NAME="${PWD##*/}"
[[ -f "${CI_PROJECT_DIR}/.user.env" ]] && source "${CI_PROJECT_DIR}/.user.env"
export CACHE_DIR="${CI_PROJECT_DIR}/.cache"

# Setup Project Dir

[[ -d "${HOME}/.cache/${CI_PROJECT_NAME}" ]] || {
  [[ -d "${HOME}/.cache" ]] || {
    echo "MISSING: ${HOME}/.cache" >&2
    return 1
  }
  install -dm0755 "${HOME}/.cache/${CI_PROJECT_NAME}"
}
[[ -h "${CI_PROJECT_DIR}/.cache" ]] || {
  ln -s "${HOME}/.cache/${CI_PROJECT_NAME}" "${CI_PROJECT_DIR}/.cache"
}

